* {
    box-sizing: border-box;
}

html,
body {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100%;
    /*background-color: #78c091;*/
    background: linear-gradient(to right, rgba(161,209,178,1) 0%, rgba(161,209,178,1) 20%, rgba(120,192,145,1) 45%, rgba(120,192,145,1) 100%);
}

.container {
    background-color: #3b6e69;
    width: 100%;
}

.container-titulo {
    font-size: 5rem;
    text-transform: uppercase;
    padding: 2.5rem;
    margin: auto;
    text-align: center;
    color: #130f18;
    font-family: Trebuchet MS, sans-serif;
}

.principal {
    padding: 0 3rem;
}

.conjuntoItens {
    width: 60%;
    margin: auto;
    padding: 1rem;
    position: relative;
}

li {
    /*padding: .3rem;*/
    margin: 1rem;
    background-color: #c3c5c1;
    position: relative;
    height: 3.5rem;
}

.newItem {
    margin-bottom: 3rem;
}

.tarefaCompleta{
    text-decoration: line-through;
}

.newTaskDescription {
    width: 70%;
    height: 3.5rem;
    padding: .8rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #c3c5c1;
    font-size: inherit;
    font-weight: bold;
    word-break: break-all;
}

.taskName {
    color: #3f2b54;
    width: 34em;
    height: 3.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: transparent;
    font-size: inherit;
    font-weight: bold;
    /*position: relative;*/
    word-break: break-all;
    padding-left: 2rem;
    overflow: auto;
    display: table-cell;
    /*display: inline-block;*/
    vertical-align: middle;
    pointer-events: none;
    /*z-index: 100;*/
}

.TaskNameEdit {
    width: 65%;
    height: 100%;
    border: none;
    border-radius: 0.5rem;
    font-size: inherit;
    margin-left: 2rem;
    position: absolute;
    /*top: .5em;*/
    /*top: -3.1em;*/
    top:0;
    opacity: 0;
    background-color: transparent;
}

input[type="text"]:focus {
    /*border: .5rem solid gray;*/
    background-color: darkgrey;
    /*z-index: 999;*/
}

.taskNameEditAtiva{
    width: 65%;
    height: 2.9rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #c3c5c1;
    font-size: inherit;
    /*padding: 1rem;*/
    margin-left: 2rem;
    display: inline-block;
}

input.taskNameEdit:focus {
    display: inline-block;
    border: #130f18;
}

.dataInputEdit {
    border: .1rem solid #c4c4c4;
    position: absolute;
    top: .3rem;
    border-radius: .5rem;
    background-color: rgb(170, 83, 80);
    padding: .8rem 0.2rem;
    width: 7rem;
    right: 6rem;
    /*display: none;*/
}

.taskDate {
    border: .1rem solid #c4c4c4;
    position: absolute;
    border-radius: .5rem;
    background-color: rgb(170, 83, 80);
    padding: .8rem 0.2rem;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
    width: 7rem;
    right: 6rem;
    top: .3rem;
}

input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

input[type="date"]::-webkit-clear-button { 
    
    display: none; 
}

button {
    font-size: inherit;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
}

button:hover {
    color: rgb(221, 210, 210);
}

.add{
    padding: 1rem;
    height: 3.5em;
    width: 5.8rem;
}

.edit {
    right: 2.9rem;
    padding: 1rem;
    height: 3.5rem;
    width: 2.9rem;
}
.delete {
    padding: 1rem;
    height: 3.5rem;
    width: 2.9rem;
}

.iconDelete {
    color: rgb(221, 69, 69);
}

.checkbox {
    width: 1.25rem;
    height: 1.25rem;
    padding: .2em;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto .6rem;
    z-index: 999;
}




