* {
    box-sizing: border-box;
}

html,
body {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100%;
    background-color: #78c091;
}

.container {
    background-color: #3b6e69;
    width: 100%;
}

.container-titulo {
    font-size: 5em;
    text-transform: uppercase;
    padding: 2.5rem;
    margin: auto;
    text-align: center;
    color: #130f18;
    font-family: Trebuchet MS, sans-serif;
}

.principal {
    padding: 0 3rem;
}

.conjuntoItens {
    width: 60%;
    margin: auto;
    padding: 2rem;
    position: relative;
}

li {
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    background-color: #c3c5c1;
    position: relative;
}

#new-task {
    width: 90%;
    border: none;
    border-radius: 0.5rem;
    background-color: #c3c5c1;
    font-size: inherit;
}

/*.item {
    width: 90%;
    border: none;
    border-radius: 0.5rem;
    background-color: #c3c5c1;
    font-size: inherit;
}*/

.inputItem {
    width: 90%;
    border: none;
    border-radius: 0.5rem;
    background-color: #c3c5c1;
    font-size: inherit;
}

.nomeItem {
    color: #3f2b54;
    font-weight: bold;
}

button {
    border: none;
    font-size: inherit;
    padding: 1rem;
    background: #d9d9d9;
    color: #555;
    border-radius: 0.5rem;
    position: absolute;
    top: 0;
    right: 0;
}

.edit {
    right: 4rem;
}

.delete {
    right: 0;
}

.checkbox {
     content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

.datas {
    border: 1px solid #c4c4c4;
    position: absolute;
    border-radius: 5px;
    background-color: #71AA50;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
    width: 10rem;
    right: 5rem;

}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

button:hover {
    color: #333;
}
