* {
    box-sizing: border-box;
}

html,
body {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100%;
    background-color: #78c091;
}

.container {
    background-color: #3b6e69;
    width: 100%;
}

.container-titulo {
    font-size: 5rem;
    text-transform: uppercase;
    padding: 2.5rem;
    margin: auto;
    text-align: center;
    color: #130f18;
    font-family: Trebuchet MS, sans-serif;
}

.principal {
    padding: 0 3rem;
}

.conjuntoItens {
    width: 60%;
    margin: auto;
    padding: 1rem;
    position: relative;
}

li {
    padding: .3rem;
    margin: 1rem;
    background-color: #c3c5c1;
    position: relative;
    height: 3.5rem;
}

.newItem {
    margin-bottom: 3rem;
}

.newTaskDescription {
    width: 70%;
    height: 2.9rem;
    padding: .8rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #c3c5c1;
    font-size: inherit;
    font-weight: bold;
    word-break: break-all;
}

.taskName {
    color: #3f2b54;
    width: 90%;
    height: 2.9rem;
    padding: .8rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #c3c5c1;
    font-size: inherit;
    font-weight: bold;
    position: absolute;
    word-break: break-all;
    margin-left: 1rem;
    max-width: 32rem;
    overflow: auto;
}

.TaskNameEdit {
    width: 65%;
    height: 2.9rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #c3c5c1;
    font-size: inherit;
    padding: 1rem;
    margin-left: 2rem;
}

.dataInputEdit {
    border: .1rem solid #c4c4c4;
    position: absolute;
    border-radius: .5rem;
    background-color: rgb(170, 83, 80);
    padding: .8rem 0.2rem;
    width: 7rem;
    right: 6rem;
}

.taskDate {
    border: .1rem solid #c4c4c4;
    position: absolute;
    border-radius: .5rem;
    background-color: rgb(170, 83, 80);
    padding: .8rem 0.2rem;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
    width: 7rem;
    right: 6rem;
}

input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

input[type="date"]::-webkit-clear-button { 
    
    display: none; 
}

button {
    font-size: inherit;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
}

button:hover {
    color: rgb(221, 210, 210);
}

.add{
    padding: 1rem;
    height: 3.35rem;
    width: 5rem;
}

.edit {
    right: 2.9rem;
    padding: 1rem;
    height: 3.5rem;
    width: 2.9rem;
}
.delete {
    padding: 1rem;
    height: 3.5rem;
    width: 2.9rem;
}

.iconDelete {
    color: rgb(221, 69, 69);
}

.checkbox {
    width: 1.25rem;
    height: 1.25rem;
    padding: .2em;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto .6rem;
    z-index: 999;
}




